<div class="container-fluid intro">
  <a href="/">
    <img src="../../../assets/icon_home.svg" class="icon" />
  </a>
  <div class="title text-center pt-4">FizzBuzz Exercise</div>
  <div class="description">
    <p>Create a loop that will print all the numbers for the range, 1-20.</p>
    <p>If the number is:</p>
    <ul>
      <li>divisible by 3, print 'Fizz'</li>
      <li>divisible by 5, print 'Buzz'</li>
      <li>divisible by 3 & 5, 'FizzBuzz'</li>
      <li>otherwise print the number</li>
    </ul>
  </div>
</div>
<div class="container-fluid application text-center">
  <h3>Please insert a number:</h3>
  <input
    class="number-input"
    type="number"
    inputmode="numeric"
    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
    min="0"
    [(ngModel)]="numbers"
    placeholder="Enter a number"
  />
  <h1 class="message">
    {{ checkNumbers(numbers) }}
  </h1>
</div>
