.card {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: var(--bs-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .card-header {
    background-color: var(--bs-gray-800);
    position: relative;
    top: -2rem;
    left: -2rem;
    width: 17.95rem;
  }
  .card-title {
    color: var(--bs-light);
  }
  .btn {
    background-color: var(--bs-teal);
    border-color: var(--bs-teal);
    width: 100%;
  }
}
