<div *ngFor="let card of cardsData" class="card" style="width: 18rem">
  <div class="card-body">
    <div class="card-header">
      <h5 class="card-title">{{ card.title }}</h5>
    </div>
    <p class="card-text">
      {{ card.text }}
    </p>
    <a href="{{ card.route }}" class="btn btn-primary"
      >Go to {{ card.title }}</a
    >
  </div>
</div>
