<div class="container-fluid intro">
  <a href="/">
    <img src="../../../assets/icon_home.svg" class="icon" />
  </a>
  <div class="title text-center pt-4">Fibonacci Exercise</div>
  <div class="description">
    <p>Write a function, to obtain a given Fibonacci number (n):</p>
    <ul>
      <li>fibonacci(5);</li>
      <li>fibonacci(10);</li>
      <li>fibonacci(1);</li>
    </ul>
  </div>
</div>
<div class="container-fluid application text-center">
  <h3>Please insert a number (n):</h3>
  <input
    class="number-input"
    type="number"
    inputmode="numeric"
    onkeypress="return event.charCode >= 48 && event.charCode <= 57"
    min="0"
    [(ngModel)]="fibonacci"
    placeholder="Enter a number"
  />
  <p class="my-text">
    The {{ fibonacci }}{{ getOrdinal(fibonacci) }} number in Fibonacci sequence
    is:
  </p>
  <h1 class="message">
    {{ getFibonacciNumber(fibonacci) }}
  </h1>
</div>
