.icon {
  height: 3rem;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.intro {
  width: 80%;
  .title {
    font-size: 4rem;
    font-family: "Courgette", cursive;
  }
  .description {
    font-size: 0.8rem;
  }
}

.application {
  background-color: var(--bs-gray-300);
  border-radius: 1rem;
  margin-top: 3rem;
  padding: 1rem;
  width: 80%;
  height: 40vh;
  .number-input {
    margin-top: 1rem;
  }
  .message {
    margin-top: 2rem;
  }
  .my-text {
    margin-top: 3rem;
  }
}
